In [1]:
import pymysql.cursors
import pandas as pd
import datetime
import uuid
import numpy as np
from itertools import combinations

In [2]:
#db_connection = sql.connect(host='localhost', database='benedict', user='root', password='artema2')
# Connect to the database
db_connection = pymysql.connect(host='134.209.169.96',
                             user='is2710practice',
                             password='!s2710Pra6t1c3',
                             db='test',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

### Selecting results into a Pandas dataframe

In [3]:
qry = "SELECT * FROM books;"
books_df = pd.read_sql(qry, con=db_connection)
books_df

   book_id first_name last_name  number_of_books         dob
0        1       John       Doe                5  2021-02-15
1        2       Jane     Smith               65  2021-02-15
2        3    Stephen      King              400  1947-09-21
3        5    Stephen      King              400  1947-09-21
4        6    Stephen      King              400  1947-09-21

### Selecting results using a pymysql cursor

In [11]:
con = pymysql.connect(host='134.209.169.96',
                             user='is2710practice',
                             password='!s2710Pra6t1c3',
                             db='test',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
try:

    with con.cursor() as cur:

        cur.execute('SELECT * FROM books')

        rows = cur.fetchall()

        for row in rows:
            print(row['book_id'], row['first_name'], row['last_name'])

finally:

    con.close()

1 John Doe
2 Jane Smith
3 Stephen King
5 Stephen King
6 Stephen King

In [15]:
def find_user(user_id):
    con = pymysql.connect(host='134.209.169.96',
                             user='is2710practice',
                             password='!s2710Pra6t1c3',
                             db='test',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
    try:

        with con.cursor() as cur:
            qry = 'SELECT * FROM users WHERE user_id = ' + str(user_id)
            print(qry)
            
            cur.execute(qry)
            
            rows = cur.fetchall()
            if(len(rows) > 0):
                print("Found user")
            else:
                print("User does not exist")
            
    finally:

        con.close()

In [19]:
#find_user('3; DROP TABLE users;')

### Escaping parameters

In [20]:
con = pymysql.connect(host='134.209.169.96',
                             user='is2710practice',
                             password='!s2710Pra6t1c3',
                             db='test',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)


book_id = 1

try: 

    with con.cursor() as cur:
        cur.execute('SELECT * FROM books WHERE book_id=%s', book_id) 
        
        rows = cur.fetchall()

        for row in rows:
            print(row['first_name'], row['last_name'])
finally:

    con.close()

John Doe

### Insert a row with PyMySQL

In [21]:
con = pymysql.connect(host='134.209.169.96',
                             user='is2710practice',
                             password='!s2710Pra6t1c3',
                             db='test',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)



try: 

    with con.cursor() as cur:
        qry = 'INSERT INTO books (book_id, first_name, last_name, number_of_books, dob)'
        qry = qry + 'VALUES(%s, %s, %s, %s, %s)'

        cur.execute(qry, (13, 'Stephen', 'King', 400, '1947-09-21')) 
        con.commit()

finally:

    con.close()

### Update a MySQL table with PyMySQL

In [22]:
con = pymysql.connect(host='134.209.169.96',
                             user='is2710practice',
                             password='!s2710Pra6t1c3',
                             db='test',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)



try: 

    with con.cursor() as cur:
        qry = 'UPDATE books SET first_name = %s WHERE book_id = %s'

        cur.execute(qry, ('Bob', 3)) 
        con.commit()

finally:

    con.close()

### Delete from a MySQL table with PyMySQL

In [23]:
con = pymysql.connect(host='134.209.169.96',
                             user='is2710practice',
                             password='!s2710Pra6t1c3',
                             db='test',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)



try: 

    with con.cursor() as cur:
        qry = 'DELETE FROM books WHERE book_id = %s'

        cur.execute(qry, (3)) 
        con.commit()

finally:

    con.close()